//colors
$base-dark-color: #282c34;
$base-medium-color:#5b6271;
$base-bright-color:#d9e0f0;
$border-dark: rgba($base-dark-color, 0.88);

//block parameters
$standard-block-radius:5px;
$standard-block-padding:10px;
//Для выравнивания логотипа и бокового меню
$width-menu-logo-rovno:15vw;



   
