@use './library';

.wrapper{
display: flex;
flex-direction: column;
width: 100%;
}

.workSpace_panel{
display: flex;
flex-direction: row;
height: 15%;
justify-content: space-around;

-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.workSpace_panel_left{
    height: 30%;
}
.workSpace_panel_left_button{
    align-items: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(248, 225, 225, 0.193);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    color: #223341;
    padding: 5px;
    margin: 2.5px 5px;
}
.workSpace_panel_middle{
    height: 30%;
}

.workSpace_panel_right{
    height: 30%;
}

.workspace_resultpolygon{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: darkgray;
    overflow-y: scroll;
    border-top: 2px solid #c2c0c0;
}

