@use '../../shared//styles/library';

.resultPolygon_header{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    gap: 10px;
}
.resultPolygon_header_clientName{
    background-color: #57698f;
    color: white;
    border: 0.5px solid #8e8f9d;
    padding: 2.5px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0.5px #8286ae;
}

.resultPolygon_header_contract{
    p{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: black;
    border: 0.5px solid #8e8f9d;
    padding: 2.5px 5px;
    border-radius: 3px;
    // box-shadow: 0px 0px 1px 0.5px #8286ae;
}
.resultPolygon_header_contract_icon{
    width: 15px;
}
.resultPolygon_main{
    display: flex;
    flex-direction: row;
}
.workspace_resultpolygon_client{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 0.5px solid lightgrey;
    padding: 10px;
    margin: 5px 10px;
    box-shadow: 0px 0px 6px 0.5px #d5d5d5;
    border-radius: 5px;
    // height: 80px;

}
.resultpolygon_client_objects{
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    background-color: rgb(219 219 219);
    border-radius: 5px;
    align-items: center;
    border: 0.5px solid lightgray;
    /* align-content: center; */
    justify-content: center;
 

}
.resultpolygon_client_info{

}

$object_status:(
    active:#ffffff,
    stop:#ffb700a3,
    finished:#ae0303b5,
    in_process:#005bab91,
);

.resultpolygon_objects_element{
    display: flex;
    width: 95%;
    flex-direction: row;   
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin: 2.5px 5px;
    padding: 5px;
    gap: 10px;
}
.resultpolygon_objects_element_active{
    display: flex;
    width: 95%;
    flex-direction: row;   
    background-color: map-get($object_status, active);;
    border-radius: 5px;
    margin: 2.5px 5px;
    padding: 5px;

    gap: 10px;
}
.resultpolygon_objects_element_stop{
    display: flex;
    width: 95%;
    flex-direction: row;   
    background-color: map-get($object_status, stop);;
    border-radius: 5px;
    margin: 2.5px 5px;
    padding: 5px;
    gap: 10px;
}
.resultpolygon_objects_element_finished{
    display: flex;
    width: 95%;
    flex-direction: row;   
    background-color: map-get($object_status, finished);
    border-radius: 5px;
    margin: 2.5px 5px;
    padding: 5px;
    gap: 10px;
}
.resultpolygon_objects_element_in_process{
    display: flex;
    width: 95%;
    flex-direction: row;   
    background-color: map-get($object_status, in_process);;
    border-radius: 5px;
    margin: 2.5px 5px;
    padding: 5px;
    gap: 10px;
}
.objects_element_status{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.objects_element_status_icon{
    width: 30px;
}
.objects_element_pults{
display: flex;
flex-direction: column;
align-items: center;
    justify-content: center;
}

.resultpolygon_client_widget{
 
}
.resultpolygon_client_widget_button{
    align-items: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(248, 225, 225, 0.193);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    color: #223341;
    padding: 5px;
    margin: 2.5px 5px;
}

.resultpolygon_client_objects::-webkit-scrollbar-thumb {
    border: 0.5px solid lightgray;
    background-color: #ccc;
}
.resultpolygon_client_objects::-webkit-scrollbar {
    -webkit-appearance: none;
}

.resultpolygon_client_objects::-webkit-scrollbar:horizontal {
    height: 5px;
}

.resultpolygon_client_objects::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    border: 0.5px solid lightgray; 
    background-color: rgba(0, 0, 0, .5);
}
.resultpolygon_client_objects{
    p{
        margin-block-start: 0;
        margin-block-end: 0; 
    }
    h6{
        margin-block-start: 0;
    margin-block-end: 0;
    }
}